<a href="https://colab.research.google.com/github/otabekqoroboyev/data-science-pandas/blob/main/arifmetik_amallar_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [3]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [4]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [5]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

E'tibor bering, `s1` da mavjud `d` indeksi `s2`da mavjud bo'lmaganligi sabab `s1+s2` da `d` indeksdagi qiymat `NaN` bo'ldi.

In [6]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['Olma','Anor','Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['Olma','Anor','Qovun','Anjir'])

In [7]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [8]:
df2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

In [9]:
df1+df2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

`a` va `d` ustunlar hamda `Qovun` va `Anjir` qatorlar ikkala `DataFrame`da bo'lmagani sababli yuqoridagi natija chiqdi

In [10]:
df1.add(df2)

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

Bunda maxsus `fill_value` parametri yordamida mos tushuvchi indekslardagi NaN qiymatlarni boshqa qiymat bilan almashtirish mumkin. Bu usulda yakuniy natijada ikkala df da ham mavjud bo'lmagan indekslarda `NaN` qiymati qoladi.

In [11]:
df2.add(df1, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   7.0   9.0  5.0
Olma   0.0   1.0   3.0  2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [12]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [13]:
df2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

### Boshqa arifmetik amallar

- `add`, `radd` - Qo'shish (+)
- `sub`, `rsub` - Ayirish (-)
- `div`, `rdiv` - Bo'lish (/)
- `floordiv`, `rfloordiv` - Bo'lish va butun qismini olis (//)
- `mul`, `rmul` - Ko'paytirish (*)
- `pow`, `rpow` - Eksponenta (\*\*)

Yuqoridagi amallarning barchasida `fill_value` parametri mavjud.

`r`bilan boshlangan metodlarda `DataFrame` ifodaning o'ng  tarafida bo'ladi.

In [14]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [15]:
df1.sub(2) # df-2 degani

        b    c    d
Olma -2.0 -1.0  0.0
Anor  1.0  2.0  3.0
Uzum  4.0  5.0  6.0

In [16]:
df2.rsub(2) # 2-df degani

         a    b    c
Olma   2.0  1.0  0.0
Anor  -1.0 -2.0 -3.0
Qovun -4.0 -5.0 -6.0
Anjir -7.0 -8.0 -9.0

## `DataFrame` va `Series` o'rtasida arifmetik amallar

In [17]:
df = pd.DataFrame(np.arange(1,13.).reshape(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [18]:
obj = pd.Series([1,1,2,2], index=df.columns)
obj

Olma     1
Anor     1
Qovun    2
Anjir    2
dtype: int64

In [19]:
df-obj

   Olma  Anor  Qovun  Anjir
a   0.0   1.0    1.0    2.0
b   4.0   5.0    5.0    6.0
c   8.0   9.0    9.0   10.0

In [20]:
obj = pd.Series([2,3,1], index=['Olma','Uzum','Qovun'])
obj

Olma     2
Uzum     3
Qovun    1
dtype: int64

In [21]:
df+obj

   Anjir  Anor  Olma  Qovun  Uzum
a    NaN   NaN   3.0    4.0   NaN
b    NaN   NaN   7.0    8.0   NaN
c    NaN   NaN  11.0   12.0   NaN

In [22]:
df-obj['Olma']

   Olma  Anor  Qovun  Anjir
a  -1.0   0.0    1.0    2.0
b   3.0   4.0    5.0    6.0
c   7.0   8.0    9.0   10.0

In [23]:
df.add(obj['Qovun'])

   Olma  Anor  Qovun  Anjir
a   2.0   3.0    4.0    5.0
b   6.0   7.0    8.0    9.0
c  10.0  11.0   12.0   13.0

## pandas Obyekti elementlariga Funksiyalarni qo'llash

In [24]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

       Olma      Anor     Qovun     Anjir
a -1.785891  1.000219 -0.460334 -0.030509
b  1.154789 -0.034159  0.288330  1.691584
c -0.348337  1.206863 -0.711373  0.072772

In [25]:
np.abs(df)

       Olma      Anor     Qovun     Anjir
a  1.785891  1.000219  0.460334  0.030509
b  1.154789  0.034159  0.288330  1.691584
c  0.348337  1.206863  0.711373  0.072772

In [27]:
np.round(df)

   Olma  Anor  Qovun  Anjir
a  -2.0   1.0   -0.0   -0.0
b   1.0  -0.0    0.0    2.0
c  -0.0   1.0   -1.0    0.0

In [28]:
df.mean()

Olma    -0.326480
Anor     0.724308
Qovun   -0.294459
Anjir    0.577949
dtype: float64

Yuqoridagi funksiyalarni `.apply()` metodi yordamida ham qo'llash mumkin.