<a href="https://colab.research.google.com/github/otabekqoroboyev/data-science-pandas/blob/main/dataFrame_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [70]:
data = {
    'yil':[2021,2020,2019,2017,2016,2015,2010],
    'aholi soni' : [33.9,33.6,32.6,32.5,32,31.4,30.7],
    "temp" : [1.26, 1.6, 1.8, 1.1, 1.9, 1.2, 1.5]
}

In [71]:
df = pd.DataFrame(data)
df

    yil  aholi soni  temp
0  2021        33.9  1.26
1  2020        33.6  1.60
2  2019        32.6  1.80
3  2017        32.5  1.10
4  2016        32.0  1.90
5  2015        31.4  1.20
6  2010        30.7  1.50

In [72]:
df.head()

    yil  aholi soni  temp
0  2021        33.9  1.26
1  2020        33.6  1.60
2  2019        32.6  1.80
3  2017        32.5  1.10
4  2016        32.0  1.90

In [73]:
#hohglagancha qiymat olish uchun
df.head(2)

    yil  aholi soni  temp
0  2021        33.9  1.26
1  2020        33.6  1.60

In [74]:
df.shape # o'lchamini bilish uchun

(7, 3)

# DataFrame ustunlar

In [75]:
df = pd.DataFrame(data, columns=['yil','temp','aholi soni'])

In [76]:
df

    yil  temp  aholi soni
0  2021  1.26        33.9
1  2020  1.60        33.6
2  2019  1.80        32.6
3  2017  1.10        32.5
4  2016  1.90        32.0
5  2015  1.20        31.4
6  2010  1.50        30.7

In [77]:
df = pd.DataFrame(data, columns=['yil','temp','aholi soni', 'YAIM'])

In [78]:
df

    yil  temp  aholi soni YAIM
0  2021  1.26        33.9  NaN
1  2020  1.60        33.6  NaN
2  2019  1.80        32.6  NaN
3  2017  1.10        32.5  NaN
4  2016  1.90        32.0  NaN
5  2015  1.20        31.4  NaN
6  2010  1.50        30.7  NaN

In [79]:
df = pd.DataFrame(data, columns=['yil','temp','aholi soni', 'YAIM'], index=['bir',2,3,4,5,6,7])

In [80]:
df

      yil  temp  aholi soni YAIM
bir  2021  1.26        33.9  NaN
2    2020  1.60        33.6  NaN
3    2019  1.80        32.6  NaN
4    2017  1.10        32.5  NaN
5    2016  1.90        32.0  NaN
6    2015  1.20        31.4  NaN
7    2010  1.50        30.7  NaN

In [81]:
aholi = df['aholi soni']

In [82]:
aholi

bir    33.9
2      33.6
3      32.6
4      32.5
5      32.0
6      31.4
7      30.7
Name: aholi soni, dtype: float64

In [83]:
type(aholi)

pandas.core.series.Series

In [84]:
df.temp

bir    1.26
2      1.60
3      1.80
4      1.10
5      1.90
6      1.20
7      1.50
Name: temp, dtype: float64

In [85]:
df

      yil  temp  aholi soni YAIM
bir  2021  1.26        33.9  NaN
2    2020  1.60        33.6  NaN
3    2019  1.80        32.6  NaN
4    2017  1.10        32.5  NaN
5    2016  1.90        32.0  NaN
6    2015  1.20        31.4  NaN
7    2010  1.50        30.7  NaN

In [86]:
df.YAIM = 0

In [87]:
df

      yil  temp  aholi soni  YAIM
bir  2021  1.26        33.9     0
2    2020  1.60        33.6     0
3    2019  1.80        32.6     0
4    2017  1.10        32.5     0
5    2016  1.90        32.0     0
6    2015  1.20        31.4     0
7    2010  1.50        30.7     0

In [88]:
val = pd.Series([1700,1650,1790], index=["bir",2,7]) # index qiymat kiritish
df.YAIM = val

In [89]:
df

      yil  temp  aholi soni    YAIM
bir  2021  1.26        33.9  1700.0
2    2020  1.60        33.6  1650.0
3    2019  1.80        32.6     NaN
4    2017  1.10        32.5     NaN
5    2016  1.90        32.0     NaN
6    2015  1.20        31.4     NaN
7    2010  1.50        30.7  1790.0

In [90]:
 val = [1700,1600,1500,1400,1300,1200,1100]
 df['YAIM'] = val

In [91]:
df

      yil  temp  aholi soni  YAIM
bir  2021  1.26        33.9  1700
2    2020  1.60        33.6  1600
3    2019  1.80        32.6  1500
4    2017  1.10        32.5  1400
5    2016  1.90        32.0  1300
6    2015  1.20        31.4  1200
7    2010  1.50        30.7  1100

In [92]:
df['1500+'] = df.YAIM>1500

In [93]:
df

      yil  temp  aholi soni  YAIM  1500+
bir  2021  1.26        33.9  1700   True
2    2020  1.60        33.6  1600   True
3    2019  1.80        32.6  1500  False
4    2017  1.10        32.5  1400  False
5    2016  1.90        32.0  1300  False
6    2015  1.20        31.4  1200  False
7    2010  1.50        30.7  1100  False

In [94]:
# o'chirish ustunlarni 
del df['1500+']

In [95]:
df

      yil  temp  aholi soni  YAIM
bir  2021  1.26        33.9  1700
2    2020  1.60        33.6  1600
3    2019  1.80        32.6  1500
4    2017  1.10        32.5  1400
5    2016  1.90        32.0  1300
6    2015  1.20        31.4  1200
7    2010  1.50        30.7  1100

In [100]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [102]:
df2 = pd.DataFrame(data)

In [103]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [104]:
df2.index.name = 'Yil'

In [105]:
df2

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [107]:
df2 = pd.DataFrame(data, index=[2021,2019,2017]) #bizga kerak bo'ladigan yillar  
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [109]:
df2.T # ustun va qatorni almashtirish uchun

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [113]:
arr = df2.values # array olish uchun va saqlab qolish arr qilib

In [115]:
type(arr) # turi

numpy.ndarray