<a href="https://colab.research.google.com/github/otabekqoroboyev/data-science-pandas/blob/main/foydali_funksiyalar_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ma'lumotlar tahlili. Pandas kutubxonasi.
2.2.3 Foydali funksiyalar

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       'Temp':[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       'Zichlik':[79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [6]:
df.index = [21, 20, 19, 18, 17, 16, 15, 10]
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

## `.reindex()` indekslar o'rnini almashtirish

In [7]:
df.reindex([10,15,20])

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
20  2020        33.5  1.48    78.68

`.reindex` yordamida yangi indekslar qo'shish va ularni turli usullar (method) yordamida to'ldirish ham mumkin

In [8]:
df.reindex(index=range(10,22), method="nearest") # method='ffill'

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2015        30.9  1.64    72.71
14  2015        30.9  1.64    72.71
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

Nafaqat indekslarni balki ustunlarni ham qayta indekslash mumkin

In [9]:
df.reindex(columns=['Aholi soni','Temp'])

    Aholi soni  Temp
21        33.9  1.54
20        33.5  1.48
19        32.9  1.56
18        32.5  1.62
17        31.9  1.65
16        31.4  1.66
15        30.9  1.64
10        28.5  1.53

### `.loc` yordamida indekslash

In [10]:
df.loc[[10,15,20],['Aholi soni','Temp']]

    Aholi soni  Temp
10        28.5  1.53
15        30.9  1.64
20        33.5  1.48

**DIQQAT! DataFrame metodlati asl DataFrameni o'zgartirmaydi, balki yangi (o'zgartirilgan) DataFrame qaytaradi.**

## `DataFrame`dan elementlarni o'chirish. `.drop()`

Dataframedan biror qator yoki ustunni o'chirish uchun qator (ustun) indeksini bilish kifoya.

In [11]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [12]:
df_new = df.drop(10) # 10 indeksini o'chiramiz va yangi df yaratamiz

In [13]:
df_new

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71

In [14]:
df.drop([15, 20]) # 15 va 20 qatorlarini tashlab yuboramiz

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
10  2010        28.5  1.53    67.03

`.drop()` yordamida nafaqat qatorlarni, balki ustunlarni ham o'chirish mumkin. Buning `.drop()` metodining `axis` parametri ishlatiladi.

In [15]:
df.drop('Temp', axis=1) # axis=1 ustunni anglatadi, axis=0 esa qatorni

     Yil  Aholi soni  Zichlik
21  2021        33.9    79.77
20  2020        33.5    78.68
19  2019        32.9    77.53
18  2018        32.5    76.34
17  2017        31.9    75.13
16  2016        31.4    73.91
15  2015        30.9    72.71
10  2010        28.5    67.03

In [16]:
df.drop('Temp', axis='columns') # bu usul ham yuqoridagi natijani beradi

     Yil  Aholi soni  Zichlik
21  2021        33.9    79.77
20  2020        33.5    78.68
19  2019        32.9    77.53
18  2018        32.5    76.34
17  2017        31.9    75.13
16  2016        31.4    73.91
15  2015        30.9    72.71
10  2010        28.5    67.03

Yana bir bor eslatamiz, metodlar asl `DataFrame`ni o'zgartirmaydi.

In [17]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

Lekin buning ham imkoni bor. Odatda `.drop()` kabi metodlar maxsus `inplace` parametri bilan keladi va bu parametr standart `False` qiymatga ega bo'ladi (`inplace=False`)

In [18]:
df.drop('Yil', axis=1, inplace=True)

In [19]:
df.head() # E'tibot bering endi Yil ustini yo'q

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        32.5  1.62    76.34
17        31.9  1.65    75.13

### Indekslash, qator (ustun) tanlash, filtrlash

### `Series`

In [20]:
data = df['Aholi soni'] # Series obyekt yaratib olamiz

In [21]:
data

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [22]:
data[0:2] # 0 va 1 elementlar qaytadi

21    33.9
20    33.5
Name: Aholi soni, dtype: float64

In [23]:
data[[21]]

21    33.9
Name: Aholi soni, dtype: float64

In [24]:
data[[21,19,17]]

21    33.9
19    32.9
17    31.9
Name: Aholi soni, dtype: float64

In [25]:
obj = pd.Series(np.arange(8.), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [26]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [27]:
obj[['b']]

b    1.0
dtype: float64

In [28]:
type(obj[['b']])

pandas.core.series.Series

In [29]:
obj['b']

1.0

In [30]:
type(obj['b'])

numpy.float64

In [31]:
obj[0:4] # 0,1,2,3 indeksdagi qiymatlar 4 kirmaydi

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [32]:
obj['a':'f'] # a,b,c,d,e,f chiqadi.

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [33]:
obj[['c','d','f']]

c    2.0
d    3.0
f    5.0
dtype: float64

In [34]:
obj[[1,5]]

b    1.0
f    5.0
dtype: float64

In [35]:
obj['a':'d']=22

In [36]:
obj

a    22.0
b    22.0
c    22.0
d    22.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

In [37]:
obj[obj==22]

a    22.0
b    22.0
c    22.0
d    22.0
dtype: float64

In [39]:
obj[obj<8]

e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

### `DataFrame`

In [40]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}

df = pd.DataFrame(
    {'Uzbekistan':uz,
     'Kazakhstan':kz,
     'Tajikistan':tj,
     'Kyrgizstan':kg,
     'Turkmenistan':tr
    }
)

In [41]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [42]:
df['Uzbekistan'] # bu series usulida

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [43]:
df[['Uzbekistan']] # bu dataframe usulida

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [44]:
df[['Uzbekistan','Turkmenistan']]

      Uzbekistan  Turkmenistan
2020        33.5           6.0
2019        32.9           5.9
2018        32.5           5.9
2017        31.9           5.8
2016        31.4           5.6
2015        30.9           5.6

In [45]:
df[3:] # 3 elementdan keyingi barchasini ko'rsatadi

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [46]:
df>8 # 8 dan katta qiymatlarni true ko'rsatadi

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        True        True        True       False         False
2019        True        True        True       False         False
2018        True        True        True       False         False
2017        True        True        True       False         False
2016        True        True        True       False         False
2015        True        True        True       False         False

In [48]:
df[['Uzbekistan']][df['Uzbekistan']>32] # uzbekistonda 32 mln katta qiymatlarni ko'rsatadi

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [49]:
df2=df.transpose(copy=True) # qator va ustunlarnni o'rnini almashtirib beradi

In [50]:
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [51]:
df2[df2[2015]>6] # 6 dan katta qiymatlarni chiqaradi

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan   9.5   9.3   9.1   8.9   8.7   8.5

In [52]:
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [53]:
df2[df2<8] = 0 # 8 dan kichik elementlarni barchasini 0 ga tenglaydi

In [54]:
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     0.0   0.0   0.0   0.0   0.0   0.0
Turkmenistan   0.0   0.0   0.0   0.0   0.0   0.0

In [55]:
df2[[2020]] # 2020 yildagi barcha malumotni chiqaradi

              2020
Uzbekistan    33.5
Kazakhstan    18.8
Tajikistan     9.5
Kyrgizstan     0.0
Turkmenistan   0.0

## `.loc` va `.iloc`
`.loc` yordamida qator va ustunlani ularning nomi bo'yicha tanlash mumkin.

In [56]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [57]:
df.loc[[2015]] # 2015 yildagi malumotni qator boyicha chiqaradi

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2015        30.9        17.6         8.5         6.0           5.6

In [58]:
df.loc[[2017,2020]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2020        33.5        18.8         9.5         6.5           6.0

In [60]:
df.loc[[2020,2019],['Uzbekistan','Kazakhstan']]

      Uzbekistan  Kazakhstan
2020        33.5        18.8
2019        32.9        18.5

`.iloc` yordamida qator va ustunlani ularning tartib raqami bo'yicha tanlash mumkin

In [61]:
df.iloc[[0,2,4]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2018        32.5        18.3         9.1         6.3           5.9
2016        31.4        17.8         8.7         6.1           5.6

In [62]:
df.iloc[[0],[0,3,4]] # 0 qator 0,3,4 ustunlarni chiqaradi

      Uzbekistan  Kyrgizstan  Turkmenistan
2020        33.5         6.5           6.0

In [63]:
df.loc[:2017,'Uzbekistan'] # 2017 dan keyingi malumotlar

2020    33.5
2019    32.9
2018    32.5
2017    31.9
Name: Uzbekistan, dtype: float64

## Sonli indekslar

`pandas` obyektlariga indeks orqali murojaat qilish biroz mujmal tuyulishi mumkin. Bunga sabab biz o'rganib qolgan list va tuple ma'lumot turlari bilan ishlashdagi farq.

In [64]:
nums = list(range(0,11))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
nums[-1] # nums oxirgi elementi

10

Yuqoridagi usulni sonli indeksga ega `Series` ma'lumot tuzilmasiga qo'llab ko'ramiz:

In [66]:
nums = pd.Series(np.arange(10.))
nums

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [67]:
# nums[-1] bu usul ishlamaydi

In [68]:
ser = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [69]:
ser[-1]

4.0

Muammoning yechimi doimo `.loc` yoki `.iloc` parametrlaridan foydalanish

In [70]:
nums.iloc[-1]

9.0

In [71]:
nums.iloc[4]

4.0

In [72]:
ser.loc['d']

3.0